

.landing__container {
  width: 100%;
  min-height: 420px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  background-color: #ffe26e;
  position: relative;
}


.landing__header a {
  text-decoration: none;
  color: #000;
}

.landing__header__container {
  width: 40%;
  height: auto;
  min-height: 450px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing__header {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.landing__header__main {
  font-size: 4.0rem;
  font-weight: 800;
}

.landing__header__discount {
  font-size: 1.2rem;
}

.landing__button {
  width: 60%;
  cursor: pointer;
  transition: .3s;
}
.button{
 width: 190px;
 height:50px;
 border-radius: 20px;
 font-weight: 700;
 background-color:#FFE26E ;
 border-color: black;
 color: black;


}

.button:hover{
background-color: black;
color: #FFE26E;
border-color: black;
}

.landing__image__container {
  width: 50%;
  /* height: ; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__image {
  height: auto;
  width: auto;
  top: 0%;
  z-index: 10;
}


@media screen and (max-width: 850px) {
  .landing__image__container{
     display: none;
  }
}


@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Jost', sans-serif;
}

/* body {
  color: rgb(211, 211, 211);
  background
  padding-top: 50px;
} */

img {
width: 100%;
object-fit: cover;
}
.boxbig {
max-width: 1220px;
margin: 0px auto 20px auto;
padding: 0px 40px;
}

.collage-boxbig{
display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.flex-boxbig1 {
/* display: flex;
align-items: center;
justify-content: space-between;
  background-image: url('https://www.shutterstock.com/image-photo/blurred-image-shopping-mall-people-260nw-288520160.jpg'); */

}
.flex-boxbig1 .quote {
font-size: 45px;
font-weight: 700;
max-width: 400px;
}
.flex-boxbig1 .quote .avoid-break {
white-space: nowrap;
}
.flex-boxbig1 .quote .orange {
color: rgb(255, 153, 0);
}
.flex-boxbig1 .collage-boxbig {
width: 600px;
height: 500px;
overflow: hidden;
}
img{
width: 50%;
height: auto;
}
.flex-boxbig1 .collage-boxbig .collage {
position: relative;
height: 100%;
width: 100%;
}
.flex-boxbig1 .collage-boxbig .collage .collage-image1 {
position: absolute;
height: 70%;
width: 50%;
-webkit-clip-path: polygon(0px 30px, 30px 0px, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0px 30px, 30px 0px, 100% 0%, 100% 100%, 0% 100%);
}
.flex-boxbig1 .collage-boxbig .collage .collage-image2 {
position: absolute;
right: 0px;
top: 50px;
height: 250px;
width: 60%;
-webkit-clip-path: polygon(0 0, calc(100% - 30px) 0%, 100% 30px, 100% 100%, 0 100%);
        clip-path: polygon(0 0, calc(100% - 30px) 0%, 100% 30px, 100% 100%, 0 100%);
}
.flex-boxbig1 .collage-boxbig .collage .collage-image3 {
position: absolute;
right: 25px;
bottom: 0px;
height: 250px;
width: 80%;
-webkit-clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
}


@media (min-width: 1200px) and (max-width: 1441px) and (max-height: 850px) {
.boxbig {
  max-width: 1100px;
  padding: 0px 36px;
}
}
@media (max-width: 767px) {
.boxbig {
  padding: 0px 30px;
}
}
@media (max-width: 479px) {
.boxbig {
  padding: 0px 20px;
}
}


@media (max-width: 479px) {
.flex-boxbig {
  border-radius: 10px;
}
.flex-boxbig .image {
  flex: 1 0 49%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
}
@media (max-width: 767px) {
.flex-boxbig1 {
  flex-direction: column;
}
.flex-boxbig1 .quote {
  text-align: center;
  font-size: 30px;
  max-width: 100%;
  margin-bottom: 20px;
}
.flex-boxbig1 .collage-boxbig {
  width: 450px;
}
}
@media (max-width: 570px) {
.flex-boxbig1 .collage-boxbig {
  width: 100%;
}
}